<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoolFlix</title>
    <!-- CSS -->
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    

    <div id="app">

        <header id="site_header">

            <div class="logo">
                <h1>BOOLFLIX</h1>
            </div>

            <!-- search bar -->
            <div class="form-group">
                <input id="my-input" class="form-control" type="text" v-model="searchString" @keyup.enter="searching">
                <button @click="searching">Enter</button>
            </div>
        </header>
        

        <main id="site_main">
            
            <!-- films -->
            <h2 v-if="filmsData">FILMS</h2>
            <div class="films" v-if="filmsData">
                <div class="card" v-for="film in filmsData">
                    <div class="cover">
                        <img :src=" urlCover + film.poster_path" alt="">
                    </div>
                    <div class="info">
                        <span><strong>Titolo</strong>: {{film.title}}</span>
                        <span><strong>Titolo originale</strong>: {{film.original_title}}</span>
                        <span><strong>Voto</strong>: {{film.vote_average}}</span>
                        <p><strong>Overview</strong>: {{film.overview}} </p>
                        <span class="language"><strong>Lingua</strong>: <img id="flag" :src="getFlag(film.original_language)"></span>
                    </div>
                </div>
                <span v-if="filmsData.length == 0">>Nessun risultato corrispondente</span>
            </div>
            
            <!-- series -->
            <h2 v-if="seriesData">SERIES</h2>
            <div class="series" v-if="seriesData">
                <div class="card" v-for="serie in seriesData">
                    <div class="cover">
                        <img :src=" urlCover + serie.poster_path" alt="">
                    </div>
                    <div class="info">
                        <span><strong>Titolo</strong>: {{serie.name}}</span>
                        <span><strong>Titolo originale</strong>: {{serie.original_name}}</span>
                        <span><strong>Voto</strong>: {{serie.vote_average}}</span>
                        <p><strong>Overview</strong>: {{serie.overview}} </p>
                        <span class="language"><strong>Lingua</strong>: <img id="flag" :src="getFlag(serie.original_language)"></span>
                    </div>
                </div>
                <span v-if="seriesData.length == 0">Nessun risultato corrispondente</span>
            </div>

        </main>

    </div>


    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- AXIOS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- javascript -->
    <script src="./assets/js/main.js"></script>

</body>
</html>