*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:#211f1f;
    color: white;
}
/* HEADER */
#site_header{
    background-color: #d10015;
    color: #211f1f;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MAIN */

.films, .series{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
}

.card{
    margin: 15px;
}

.cover img, .info{
    height: 500px;
    object-fit: cover;
    display: none;
    border-radius: 5px;
}

.info{
    /* display: none; */
    height: 500px;
    width: 342px;
    padding: 20px;
    background-color: #383535;
    box-shadow: 0px 1px 25px 3px #d10015;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#flag{
    width: 50px;
    margin-left: 15px;
}

.language{
    display: flex;
    align-items: center;
    justify-content: center;
}